@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

html {
    border-top: 5px solid #fff;
    color: #2a2a2a;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
}

h1 {
    color: #fff;
    text-align: center;
    font-weight: 300;
}

#slider {
    position: relative;
    overflow: hidden;
    margin: 20px auto 0 auto;
    border: solid 1px darkgray;;
}

#slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 200px;
    list-style: none;
}

#slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 330px;
    height: 450px;
    background: white;

}

a.control_prev, a.control_next {
    position: absolute;
    top: 40%;
    z-index: 999;
    display: block;
    padding: 4% 3%;
    width: auto;
    height: auto;
    color: blue;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.8;
    cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
    opacity: 1;
    -webkit-transition: all 0.2s ease;
}

a.control_prev {
    border-radius: 0 2px 2px 0;
    width: 20px;
    font-size: xx-large;
    top: 120px;
}

a.control_next {
    right: 0;
    border-radius: 2px 0 0 2px;
    width: 20px;
    font-size: xx-large;
    top: 120px;
}

/*.slider_option {*/
/*position: relative;*/
/*margin: 10px auto;*/
.img-with-text img {
    display: block;
    margin: 0 auto;
    height: 250px;
}

.img-with-text p {
    padding: 0 23px 0 23px;
    text-align: -webkit-left;
}

.img-with-text h3 {
    text-align: center;
}
